<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Bonjour Twite
    </p>
    <p>
        <a href="{% url 'post' %}">Créer un POST</a>
    </p>
    <p>
        <a href="{% url 'update_profile' %}">Modifier le profile</a>
    </p>
    <a href="{% url 'logout' %}">Se déconnecter</a>
</body>
</html>